# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/dist

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# OS metadata
.DS_Store
Thumbs.db

#### IDE ####
# Jetbrains
.idea/
out/
*.iml

# VS CODE
.vscode/*
