---
name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  IMAGE_NAME: svalasovich/pow-tcp-server

jobs:

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate version
        run: |
          calculatedSha=$(git rev-parse --short ${{ github.sha }})
          echo "GIT_SHA=$calculatedSha" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          file: ./build/package/Dockerfile
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.GIT_SHA }}
            ${{ env.IMAGE_NAME }}:latest