---
name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:

  lint-go:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: ./.github/actions/setup-go

      - name: Run Linter
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64.2
          args: >
            --config=./.github/linters/.golangci.yml
            --timeout=10m

  lint-codespell:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4

      - name: Run Linter
        uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: true
          check_hidden: true
          ignore_words_list: GoLab
          exclude_file: go.sum,go.mod
